<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      padding: 12px;
      font-family: serif;
    }
    h1 {
      opacity: 0.8;
      font-weight: normal;
      padding-bottom: 10px;
      font-size: 28px;
    }
    p {
      line-height: 24px;
    }
    time {
      font-size: 14px;
    }
    article {
      margin-bottom: 10px;
    }
  </style>
  <title>lisx5jp's weblog</title>
</head>

<body>
  <h1>lisx5jp's weblog</h1>
  
  <article>
    <time>2022-11-28</time>
  </article>
</body>
</html>
